<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ishow.noah">

    <!-- 百度统计权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="com.ishow.noah.AppApplication"
        android:allowBackup="true"
        android:icon="${APP_ICON}"
        android:label="${APP_NAME}"
        android:theme="@style/AppTheme">

        <!--引导界面-->
        <activity
            android:name="com.ishow.noah.modules.init.splash.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 引导页-->
        <activity
            android:name="com.ishow.noah.modules.init.GuideActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Guide" />
        <!--主界面-->
        <activity
            android:name="com.ishow.noah.modules.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--登录界面-->
        <activity
            android:name="com.ishow.noah.modules.account.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Login"
            android:windowSoftInputMode="adjustResize" />
        <!--注册界面-->
        <activity
            android:name="com.ishow.noah.modules.account.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <!--修改密码重置密码-->
        <activity
            android:name="com.ishow.noah.modules.account.password.forgot.ForgotPasswordActivity"
            android:screenOrientation="portrait" />


        <activity android:name="com.ishow.noah.modules.account.modify.ModifyUserInfoActivity"
            android:screenOrientation="portrait"/>

        <!--只有一个测试图片的类-->
        <activity
            android:name="com.ishow.noah.modules.base.OnlyWebActivity"
            android:screenOrientation="portrait" />
        <!--设置界面-->
        <activity
            android:name="com.ishow.noah.modules.settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <!--菜单界面-->
        <activity
            android:name="com.ishow.noah.modules.egg.EggActivity"
            android:screenOrientation="portrait" />
        <!--菜单界面-->
        <activity
            android:name="com.ishow.noah.modules.egg.detail.EggAppInfoActivitiy"
            android:screenOrientation="portrait" />

        <!--++++++++++++++++++++控件或者工具的Demo区域（start）++++++++++++++++++++++++++-->
        <!--Demo的主类-->
        <activity
            android:name="com.ishow.noah.modules.sample.main.SampleMainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.yuhaiyang.androidcommon.Test" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--Prompt 左上角或者右上角的提示的测试类-->
        <activity
            android:name="com.ishow.noah.modules.sample.prompt.SamplePromptActivity"
            android:screenOrientation="portrait" />
        <!--滚轮样式的选择-->
        <activity
            android:name="com.ishow.noah.modules.sample.pickview.SamplePickerActivity"
            android:screenOrientation="portrait" />
        <!--选择图片-->
        <activity
            android:name="com.ishow.noah.modules.sample.photo.select.SampleSelectPhotoActivity"
            android:screenOrientation="portrait" />

        <!--权限获取-->
        <activity
            android:name="com.ishow.noah.modules.sample.permission.SamplePermissionActivity"
            android:screenOrientation="portrait" />
        <!--EditTextPro-->
        <activity
            android:name="com.ishow.noah.modules.sample.edittextpro.SampleEditTextProActivity"
            android:screenOrientation="portrait" />

        <!--Http-->
        <activity
            android:name="com.ishow.noah.modules.sample.http.SampleHttpActivity"
            android:screenOrientation="portrait" />

        <!--ImageLoader-->
        <activity
            android:name="com.ishow.noah.modules.sample.imageloader.SampleImageLoaderActivity"
            android:screenOrientation="portrait" />
        <!--动画Recycle-->
        <activity
            android:name="com.ishow.noah.modules.sample.recycle.animation.SampleAnimationRecycleViewActivity"
            android:screenOrientation="portrait" />
        <!--一个选择框-->
        <activity
            android:name="com.ishow.noah.modules.sample.dialog.select.SampleSelectDialogAndPickerDialog"
            android:screenOrientation="portrait" />
        <!--LoadingViewView-->
        <activity
            android:name="com.ishow.noah.modules.sample.webview.loading.SampleLoadingWebViewActivity"
            android:screenOrientation="portrait" />
        <!--PullToRefresh-->
        <activity
            android:name="com.ishow.noah.modules.sample.pulltorefresh.SamplePullToRefreshActivity"
            android:screenOrientation="portrait" />

        <!--++++++++++++++++++++控件或者工具的测试区域（end）++++++++++++++++++++++++++-->


        <!-- ++++++++++++++++++++配置区域+++++++++++++++++-->
        <!--百度统计的id-->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="${BAIDU_STATISTICS_ID}" />
        <!-- 百度统计的id 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="${BAIDU_STATISTICS_CHANNEL}" />
        <!-- 百度统计 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
    </application>

</manifest>